* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
ol,ul {
    list-style: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: none;
}
table {
    border-collapse: 0;
    border-spacing: 0;
}
// globale-reset 混合器
@mixin global-reset {
    html,body,div,span {
        @include reset-box-model;
        @include reset-font;
    }
    body {
        @include reset-body;
    }
    ul,ol {
        @include reset-list-style;
    }
    table {
        @include reset-table;
    }
}