@charset "UTF-8";
//基础颜色
$white     : #ffffff;
$black     : #000000;
$fc        : #ccc;
$f6        : #666666;
$f3        : 333;

//行高
$lh1       : 1;
$lh2       : 2;
$lh3       : 3;
$lh24       : 24px;
$lh32       : 32px;

//字体大小
$f20            :20px;
$f18            :18px;
$f16            :16px;
$f15            :15px;
$f14            :14px;
$f12            :12px;
//字体
$font-fm : 12px/1.5 'microsoft yahei',Arial, Verdana, "\5b8b\4f53";

//